@media(max-width:1199px){
    nav ul li a{
        padding: 25px 10px
    }
    .v-widegt{
        padding: 31px 10px;
    }
}
@media (max-width: 991px) {
  .navbar-toggler {
    display: inline-block;
      position: absolute;
      top: 20px;
      left: 20px;
      color: #FFF
  }
    .sliderHome .overlay h1{
        font-size: 30px;
    }
    .sliderHome .overlay p{
        font-size: 25px;
    }
    nav ul li a{
        display: block;
        text-align: center;
    }
}
@media (min-width: 991px) {
  nav .collapse {
    display: inline-block;
  }
  nav .collapse li {
    display: inline-block;
  }
}

@media(max-width:767px){
    
}
@media(max-width:575px){
    .foodWidget .foodImg .foodcontent h5{
        font-size: 20px;
    }
    .foodWidget .foodImg .con{
        padding: 5px 10px;
    }
    .sliderHome ul.slick-dots{
        bottom: 20px;
        top: auto;
        transform: translateX(-50%);
        left: 50%;
    }
    .sliderHome ul.slick-dots > li {
        display: inline-block;
        height: 3px;
        width: 20px;
        margin-top: 0;
        margin-left: 15px;
    }
    .sliderHome .overlay h1:after,
    .sliderHome .overlay h1:before{
        width: 15px;
        height: 15px;
        background-size: 100% 100%
    }
    .sliderHome .overlay h1{
        font-size: 18px;
    }
    .sliderHome .overlay p{
        font-size: 15px;
    }
    .load #cooking{
        width: 300px;
        height: 300px
    }
   
    nav img{
        width: 155px
    }
    footer .logo{
        margin: auto
    }
    ul.socail {
        text-align: center;
        margin: 20px 0;
    }
}