/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - Social-List
        - Contact-List
    # Images
*/


/* General
======================= */
/* Fonts */
@font-face {
    font-family: 'goo';
    src: url(../vendor/fonts/agoogle.ttf);
}
@font-face {
    font-family: 'nu';
    src: url(../vendor/fonts/nu.ttf);
}

body{
    font-size: 18px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'goo';
}

/* Preload */
.load {
    background-color: #fff;
    position:fixed;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    z-index:999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.load img{
    width: 120px
}

.justify-content-evenly{
    justify-content: space-evenly !important
}
/* Links
==========================*/
a{
    
}
a, a:hover, a:focus{
    text-decoration: none;
    color: inherit
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
    font-weight: bold;
}
p{
    margin: 0;
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.socail  {
    margin-top: 30px;
    text-align: center;
}
ul.socail  li{
    display: inline-block;
    margin: 2px;
}
ul.socail  li a{
    color: inherit
}
ul.socail  li i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    border:1px solid #a6a6a6;
    cursor: pointer;
    color: #a6a6a6;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}
ul.socail  li i:after{
    content: "";
    background: #a6a6a6;
    z-index: -1;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    transform-origin: center
}
ul.socail  li i:hover:after {
    transform: scale(1);
}
ul.socail  li i:hover {
    color: #FFF
}
/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section Setting
============================ */ 
.section-lg{
    padding: 80px 0;
}
.section-md{
    padding: 50px 0;
}

.title{
    font-size: 40px;
    padding-bottom: 35px;
}


/* nav
=================== */
nav{
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
    background: #202020;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 998;
    
}
nav img{
    width: 200px;
    margin: 20px 0;
}
.navbar-toggler {
  display: none;
}

nav ul{
    
}
nav ul li{
    
}
nav ul li a {
    color: #FFF;
    padding: 25px 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out
}
nav ul li a:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #88100d;
    width: 100%;
    height: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out
}
nav ul li a:hover,
nav ul li a:focus{
    color: #FFF
}
/*nav ul li a:hover:after,*/
nav ul li a.active:after{
    height: 100%;
}
/* featureW
==================*/
.featureW{
    padding: 40px;
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
    border:2px dashed transparent;
}
.featureW:hover,
.featureW.active {
    box-shadow: 0 0 38px 5px rgba(0,0,0,0.05);
    border-color: #bbbbbb
}
.featureW .icon{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: #7f7f7f;
    margin-bottom: 35px;
    transition: all 0.3s ease-in-out;
}
.featureW:hover .icon,
.featureW.active .icon{
    background: #88100d
}
.featureW .icon img{
    display: block;
    margin:  auto;
    padding: 20px 0 0 ;
    max-width: 45px;
}
.featureW .feaContent{
    
}
.featureW .feaContent h3{
    
}
.featureW .feaContent p {
    width: 90%;
    margin: 20px auto 0
}
/* foodWidget
=================== */
.foodWidget{
    margin-top: 20px;
    overflow: hidden
}
.foodWidget .foodImg{
    position: relative
}
.foodWidget:hover img {
    transform: scale(1.06) rotate(2deg)
}
.foodWidget .foodImg img {
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.foodWidget .foodImg .foodcontent{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    background: linear-gradient(transparent ,rgba(0,0,0,0.9));
    top: 50%;
    transition: all 0.3s ease-in-out
}

.foodWidget .foodImg .con{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px ;
}

.foodWidget .foodImg .float-right{
    font-family: 'nu';
}
.foodWidget .foodImg .float-right small{
    font-family: 'goo';
    font-size: 20px
}
.foodWidget .foodImg .foodcontent h5 {
    font-size: 30px;
}
.foodWidget .foodImg .foodcontent span {
    font-weight: bold;
    font-size: 35px;
}
/* inner-contact
=================*/
.inner-contact {
    box-shadow: 0 0 38px 5px rgba(0,0,0,0.05);
    border:2px dashed #bbbbbb;
    padding: 30px; 
}
.inner-contact iframe{
    width: 100%;
}
.inner-contact iframe:first-child {
    margin-top: 30px;
}
.inner-contact button{
    color: #FFF;
    border:none;
    background: #88100d;
    padding: 7px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}
.inner-contact button:hover{
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
}
/* form-group
======================= */
.form-group{
    margin-bottom: 25px
}
.form-group label{
    font-size: 15px;
}
.form-group .form-control{
    border:0;
    border-radius: 0;
    background: #e4e4e4;
    color: #4e4d4d;
    border:1px solid transparent
}
.form-group textarea{
    resize: vertical;
    min-height: 150px;
    max-height: 170px;
}
.form-group .form-control:focus{
    box-shadow: none;
    outline: 0;
    border-color: #88100d
}
/* footer
================= */
footer{
    padding: 120px 0;
    background-color: #202020;
    color: #FFF;
}
footer img  {
    max-width: 200px;
    margin: 30px auto;
}
.wfoot{
}
.wfoot:first-child{
   
}
.wfoot h5 {
    margin: 35px 0;
}
.wfoot h5:after{
    content: ":";
    margin-right: 7px;
}
.wfoot ul {
    list-style: disc;
    margin-right: 5px
}
.wfoot ul li {
    margin-bottom: 10px;
}
.wfoot ul li:hover a{
    text-decoration: underline;
}
.wfoot ul li p{
    text-align: center;
    width: 80%;
}
/* sliderHome
================ */
.sliderHome {
    position: relative;
}
.sliderHome .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.35);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}
.sliderHome .overlay h1 {
    font-size: 45px;
    font-weight: 100
}
.sliderHome .overlay h1:after{
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(../images/star.png);
    display: inline-block;
}
.sliderHome .overlay h1:before{
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(../images/star.png);
    display: inline-block;
}
.sliderHome .overlay p {
    font-size: 38px;
}
.sliderHome .item{
    height: 500px;
    background-position: center center
}
.sliderHome img {
    min-height: 300px;
}

.sliderHome ul.slick-dots {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99
}
.sliderHome ul.slick-dots > li {
    display:block;
    height: 20px;
    background-color: #bcbcbc;
    width: 3px;
    margin-top: 15px;
    
    cursor: pointer
}
.sliderHome ul.slick-dots > li > button {
    display: none
}
.sliderHome ul.slick-dots > li.slick-active {
    background-color: #fff;
}
/*videos
====================== */
.videos{
    
}
.v-widegt{
    padding: 50px 40px  ;
    margin-top: 0;
    margin-bottom: 35px;
    border:2px dashed #bbbbbb;
    background: #FFF;
    text-align: center;
    box-shadow: 0 0 38px 5px rgba(0,0,0,0.05);
    
}
.col-md-12 .v-widegt{
    margin-bottom: 20px;
}
.v-widegt img{
    max-width: 50px;
    margin-bottom: 20px;
}
video{
    width: 100%;
    max-height: 450px;
}
.videoSlider{
    position: relative;
}

.sliderControl{
    text-align: center;
}
.sliderControl .arrows{
    font-size: 25px;
    cursor: pointer;
    display: inline-block;
    color: #88100D
}
/*
.videos .bg-v{
    position: relative
}
.videos .bg-v img{
    filter: blur(5px);
    min-height: 350px
}
.videos  .sm-v {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
.videos  .sm-v video{
    width: 80px;
    border: 1px solid #88100d;
}
.videos  .sm-v .item{
    display: inline-block
}
.playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.75);
    cursor: pointer;
}
.playIcon a{
    width: 100px;
    height: 100px;
    background: #88100d;
    box-shadow: 0 0 32px -12px #000;
    border-radius: 100%;
    text-align: center;
    line-height: 100px;
    display: block;
    transition: all 0.3s ease-in-out;
    animation: pulseIco 2s linear infinite;
}
.playIcon a i {
    color: #FFF;
}

*/

/*
@keyframes pulseIco {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3), 0 0 0 40px rgba(255, 255, 255, 0.3)
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.3), 0 0 0 40px rgba(255, 255, 255, 0.3), 0 0 0 60px rgba(255, 255, 255, 0)
    }
}
*/
   
